.hw-meta-box ._updated {
    margin: 5px 0 15px;
}

.hw-meta-box ._updated, .hw-meta-box ._error {
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 0 2px;
    padding: 1px 12px;
}

.hw-meta-box ._updated {
    border-left-color: #46b450;
}

.hw-meta-box ._error {
    border-left-color: #dc3232;
}

.hw-meta-box .message {
  word-break: break-all;
}
