.page-template-template-work, .single-hw_casestudy {
  .page-header {
    &.page-header-medium-standard {
      .container {
        .inner {
          header {
            h1 {
              font-style: normal;
            }
          }
        }
      }
    }
  }
}

.single-hw_casestudy {
  .page-header {
    .visual-preload {
      @include grayscale(1);
    }
  }

  .campaign-overview {
    margin: 0;
    padding: $spacing-vertical-lg 0;

    header {
      margin: 0 0 $spacing-vertical-sm + $spacing-vertical-xxs;
      padding: 0;

      h3 {
        margin: 0;
        padding: 0;
        font-size: $font-size-base;
      }
    }

    .statistics {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0 0 $spacing-vertical-xs + $spacing-vertical-xxs;
          padding: 0;

          .value {
            display: block;
            font-weight: bold;
            font-family: $headings-font-family;
            font-size: $font-size-h3;
            font-style: italic;
            text-transform: uppercase;
            line-height: $font-size-h3;
          }

          .title {
            display: block;
            color: $gray;
            text-transform: lowercase;
            line-height: $font-size-base;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .campaign-content {
    margin: 0;
    padding: $spacing-vertical-lg 0;
    background-color: $gray-lighter;

    .container {
      max-width: $container-tablet;

      header {
        margin: 0 0 $spacing-vertical-sm + $spacing-vertical-xxs;
        padding: 0;
        text-align: center;

        h3 {
          margin: 0;
          padding: 0;
          font-size: $font-size-base;
        }
      }

      > section {
        margin: 0 0 $spacing-vertical-md + $spacing-vertical-xs;
        padding: 0;

        &:last-of-type {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .image {
        img {
          max-width: 100%;
          width: 100%;
        }
      }

      .quote {
        padding-top: $spacing-vertical-sm;

        blockquote {
          margin: 0 0 $spacing-vertical-sm;
          padding: 0;
          text-transform: uppercase;
          font-style: italic;
        }

        .quotee, .quotee-title {
          text-transform: uppercase;
          font-style: italic;
          font-weight: $headings-font-weight;
          font-family: $headings-font-family;
          color: $gray-dark;
        }
      }

      .external-link {
        text-align: center;
      }

      .awards {
        padding-top: $spacing-vertical-sm;
        margin-left: -$spacing-horizontal-sm;
        margin-right: -$spacing-horizontal-sm;
        display: flex;
        align-content: space-between;

        div {
          margin: auto;
          padding: 0 $spacing-horizontal-sm;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .single-hw_casestudy {
    .campaign-overview {
      padding: $spacing-vertical-md 0;

      .overview {
        header {
          margin: 0 0 $spacing-vertical-xs;
        }
      }

      .statistics {
        header {
          margin: $spacing-vertical-sm + $spacing-vertical-xxs 0 $spacing-vertical-xs;
        }
      }
    }

    .campaign-content {
      padding: $spacing-vertical-md 0;

      .container {
        header {
          margin-bottom: $spacing-vertical-xs;
        }

        > section {
          margin: 0 0 $spacing-vertical-sm + $spacing-vertical-xs;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .single-hw_casestudy {
    .campaign-overview {
      .statistics {
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 50%;
          }
        }
      }
    }

    .campaign-content {
      .container {
        > section.image {
          margin-left: -$grid-gutter-width/2;
          margin-right: -$grid-gutter-width/2;
        }
      }
    }

    .awards {
      margin-top: $spacing-vertical-md;
      flex-direction: column;

      div {
        margin: 0 auto $spacing-vertical-sm;
        padding: 0;
        width: 50%;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
