.page-template-default {
  article.page {
    padding-top: $spacing-vertical-lg;
    padding-bottom: $spacing-vertical-lg;

    h1, h2 {
      margin: 0 0 $spacing-vertical-sm;
      padding: 0;
      font-style: italic;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .page-template-default {
    article.page {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-md;
    }
  }
}
