.page-template-template-contact {
  .intro {
    padding-top: $spacing-vertical-lg;

    h2 {
      margin: 0 0 $spacing-vertical-sm;
      padding: 0;
      font-style: italic;
    }
  }

  .call-to-action.pardot-form {
    iframe {
      margin-top: $spacing-vertical-lg;
    }
  }

  .country-locations {
    margin-bottom: 130px;
    padding-bottom: $spacing-vertical-lg;
    background: #fff;

    header {
      h3 {
        margin: $spacing-vertical-sm 0 $spacing-vertical-md;
        padding: 0;
        color: $text-color;
      }
    }

    .countries {
      margin: 0;

      .row {
        .country {
          margin-bottom: $spacing-vertical-sm;

          > .btn-group {
            width: 100%;

            > .btn {
              padding-top: 0;
              padding-left: 0;
              padding-bottom: 0;
              color: $text-color;
              font-weight: $headings-font-weight;
              font-size: $font-size-large;
              background-color: transparent;
              background-image: url('./../../static/img/icon-open.svg');
              background-position: right 9px;
              background-repeat: no-repeat;
              background-size: 16px;
              padding-right: 30px;
              @include box-shadow(none);

              &:hover, &:focus {
                color: $text-color;
                background-color: transparent;
                background-image: url('./../../static/img/icon-open.svg');
                @include box-shadow(none);
              }
            }

            .dropdown-menu {
              margin: 0;
              padding: 0 $padding-base-horizontal $padding-base-vertical;
              width: 100%;
              top: -$padding-base-vertical;
              left: -$padding-base-horizontal;
              border: none;
              background: $gray-base;
              color: #fff;
              font-size: $font-size-small;
              font-weight: 100;
              word-break: break-word;
              @include box-shadow(none);

              p {
                margin: 0;
                padding: 0;
              }

              .btn-group {
                .btn {
                  margin: 0;
                  padding-bottom: $spacing-vertical-xxs;
                  padding-left: 0;
                  display: inline-block;
                  color: #fff;
                  font-weight: $headings-font-weight;
                  font-size: $font-size-large;
                  background-color: transparent;
                  background-image: url('./../../static/img/icon-close.svg');
                  background-position: right 30px;
                  background-repeat: no-repeat;
                  background-size: 16px;
                  padding-right: 30px;
                  @include box-shadow(none);

                  &:hover, &:focus {
                    color: #fff;
                    background-color: transparent;
                    background-image: url('./../../static/img/icon-close.svg');
                    @include box-shadow(none);
                  }
                }
              }

              .country-content {
                a {
                  margin: 0;
                  padding: 0;
                  color: #fff;
                  font-size: $font-size-small;
                  font-weight: 100;
                  text-transform: none;
                  display: inline;

                  &:hover {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body.safari.iphone.page-template-template-contact {
  .pardot-form {
    iframe {
      width: calc(100% - #{$grid-gutter-width/2});
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .page-template-template-contact {
    .call-to-action.pardot-form {
      iframe {
        height: 570px;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .page-template-template-contact {
    .country-locations {
      margin-top: $spacing-vertical-sm;
      margin-bottom: 170px;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .page-template-template-contact {
    .intro {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-md;
    }

    .call-to-action.pardot-form {
      iframe {
        margin-top: 0;
      }
    }

    .country-locations {
      padding-bottom: $spacing-vertical-md;

      header {
        h3 {
          margin: $spacing-vertical-xs 0 $spacing-vertical-sm;
        }
      }

      .countries {
        .row {
          .country {
            margin-bottom: $spacing-vertical-sm;

            > .btn-group {
              > .btn {
                padding-top: 0;
                font-size: $font-size-base;
                background-position: right 7px;
              }

              .dropdown-menu {
                top: -$padding-small-vertical;

                .btn-group {
                  .btn {
                    font-size: $font-size-base;
                    background-position: right 21px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .page-template-template-contact {
    .intro {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-sm;
    }

    .country-locations {
      .countries {
        .row {
          flex-direction: column;

          .country {
            > .btn-group {
              > .btn {
                padding-top: 0;
                font-size: $font-size-base;
                background-position: right 7px;
              }

              .dropdown-menu {
                top: -$padding-small-vertical;
                width: calc(100% + #{$padding-base-horizontal * 2});

                .btn-group {
                  .btn {
                    font-size: $font-size-base;
                    background-position: right 21px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  .page-template-template-contact {
    .call-to-action.pardot-form {
      iframe {
        height: 830px;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .page-template-template-contact {
    .countries {
      .row {
        height: 67 * 5 * 1px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .page-template-template-contact {
    .countries {
      .row {
        height: 67 * 6 * 1px;
      }
    }
  }
}
