.single-hw_country {
  .intro, .contact {
    padding-top: $spacing-vertical-lg;
    padding-bottom: $spacing-vertical-lg;
  }

  .intro {
    header {
      margin: 0 0 $spacing-vertical-sm;

      h2 {
        margin: 0;
        padding: 0;
        font-style: italic;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .contact {
    padding-top: $spacing-vertical-lg;
    padding-bottom: $spacing-vertical-lg;

    header {
      margin: 0 0 $spacing-vertical-sm;

      h2 {
        margin: 0;
        padding: 0;
        font-style: italic;
      }
    }

    .details {
      font-size: $font-size-small;

      h4 {
        font-size: $font-size-small;
      }

      &.locations-1 {
        .row > div {
          &:nth-of-type(1) { padding-right: $grid-gutter-width/4; }
          &:nth-of-type(2) { padding-left: $grid-gutter-width/4; }
        }
      }

      &.locations-2 {
        .row > div {
          &:nth-of-type(1) { padding-right: $grid-gutter-width/4; }
          &:nth-of-type(2) { padding-left: $grid-gutter-width/4; padding-right: $grid-gutter-width/4; }
          &:nth-of-type(3) { padding-left: $grid-gutter-width/4; }
        }
      }

      &.locations-3 {
        .row > div {
          &:nth-of-type(1) { padding-right: $grid-gutter-width/4; }
          &:nth-of-type(2) { padding-left: $grid-gutter-width/4; padding-right: $grid-gutter-width/4; }
          &:nth-of-type(3) { padding-left: $grid-gutter-width/4; padding-right: $grid-gutter-width/4; }
          &:nth-of-type(4) { padding-left: $grid-gutter-width/4; }
        }
      }

      .inner {
        background: #fff;
      }

      .details-image {
        width: 100%;
        min-height: 350px;
        background-position: top center;
        background-size: cover;
      }

      .details-info {
        margin-bottom: $spacing-vertical-xs;
        padding: $spacing-vertical-xs $spacing-horizontal-sm;
        width: 100%;
        height: 150px;

        h4.subtitle {
          margin: 0 0 3px;
          color: $gray-dark;
          font-size: $font-size-base;
        }

        p {
          word-wrap: break-word;

          a {
            display: inline-block;
            white-space: nowrap;
          }
        }
      }

      .details-location {
        .vue-map-container {
          margin: 0;
          width: 100%;
          min-height: 350px;
        }

        .location-body {
          margin-bottom: $spacing-vertical-xs;
          padding: 12px $spacing-horizontal-sm $spacing-vertical-xs;
          height: 150px;
          word-wrap: break-word;

          a {
            display: inline-block;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .call-to-action.pardot-form {
    iframe {
      margin: 0 0 $spacing-vertical-lg;
    }
  }
}

body.safari.iphone.single-hw_country {
  .pardot-form {
    iframe {
      width: calc(100% - #{$grid-gutter-width/2});
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .single-hw_country {
    .call-to-action.pardot-form {
      iframe {
        height: 570px;
      }
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  .single-hw_country {
    .contact {
      .details {
        &.locations-2 {
          .row > div {
            // &:nth-of-type(2) { padding-left: $grid-gutter-width/4; padding-right: $grid-gutter-width/4; }
            // &:nth-of-type(3) { padding-left: $grid-gutter-width/4; }
          }
        }

        &.locations-3 {
          .row > div {
            &:nth-of-type(1) { padding-right: $grid-gutter-width/4; }
            &:nth-of-type(2) { padding-left: $grid-gutter-width/4; padding-right: $grid-gutter-width/2; }
            &:nth-of-type(3) { padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/4; }
            &:nth-of-type(4) { padding-left: $grid-gutter-width/4; }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .single-hw_country {
    .intro, .contact {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-md;
    }

    .call-to-action.pardot-form {
      iframe {
        margin-top: 0;
        margin-bottom: $spacing-vertical-md;
      }
    }

    .contact {
      .details {
        &.locations-1 {
          .row > div {
            &:nth-of-type(1) { padding-right: $grid-gutter-width/4; }
            &:nth-of-type(2) { padding-left: $grid-gutter-width/4; }
          }
        }

        &.locations-2 {
          .row > div {
            &:nth-of-type(1) {
              margin-bottom: $spacing-vertical-xs;
              padding-right: $grid-gutter-width/2;
              width: 100% !important;

              .inner {
                display: flex;

                > div {
                  width: 50%;
                }
              }
            }

            &:nth-of-type(2) { padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/4; }
            &:nth-of-type(3) { padding-left: $grid-gutter-width/4; padding-right: $grid-gutter-width/2; }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .single-hw_country {
    .contact {
      .details {
        &.locations-2 {
          .row > div {
            &:nth-of-type(1) {
              .inner {
                display: block;

                > div {
                  width: 100%;
                }
              }
            }
          }
        }

        &.locations-1, &.locations-2, &.locations-3 {
          .row > div {
            &:nth-of-type(1) { padding-right: $grid-gutter-width/2; }
            &:nth-of-type(2) { padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/2; }
            &:nth-of-type(3) { padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/2; }
            &:nth-of-type(4) { padding-left: $grid-gutter-width/2; }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  .single-hw_country {
    .call-to-action.pardot-form {
      iframe {
        height: 830px;
      }
    }
  }
}
