#footer {
  .main {
    padding-top: $spacing-vertical-lg;
    padding-bottom: $spacing-vertical-md;
    background: $gray-base;
    color: #fff;

    &.has-base {
      padding-bottom: 0;
    }

    h3 {
      margin: 0 0 $spacing-vertical-sm;
      padding: 0;
    }

    a {
      color: inherit;

      &:hover {
        color: $link-color;
      }
    }

    > .container > .row {
      display: flex;
    }

    .widget {
      margin-bottom: $spacing-vertical-sm;

      .widget-title {
        margin: 0 0 $spacing-vertical-sm/3;
        padding: 0;
        font-size: $font-size-h4;
      }

      .textwidget {
        font-size: $font-size-small;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    .social {
      font-size: 30px;
      text-align: right;

      a {
        margin-left: $spacing-horizontal-sm;
      }
    }

    .logo {
      text-align: right;
      position: absolute;
      right: $spacing-horizontal-sm;
      bottom: $spacing-vertical-sm;
    }
  }

  .base {
    padding-top: $spacing-vertical-xs;
    padding-bottom: $spacing-vertical-xs;
    background: $gray-base;
    color: $gray-light;
    font-size: 14px;

    .widget {
      margin: 0;
      padding: 0;

      h4.widget-title {
        margin: 0 $spacing-vertical-xxs;
        padding: 0;
        font-size: $font-size-small;
      }
    }

    h4 {
      margin: 0 $spacing-vertical-xxs;
      padding: 0;
      font-size: $font-size-small;
    }

    a {
      color: $gray-light;

      &:hover {
        color: $link-color;
      }
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #footer {
    .main {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-md;

      &.has-base {
        padding-bottom: $spacing-vertical-xs;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #footer {
    .main {
      > .container > .row {
        display: block;
      }

      .social {
        text-align: left;

        a {
          margin-left: 0;
          margin-right: $spacing-horizontal-xs;
        }
      }

      .logo {
        margin-top: $spacing-vertical-sm;
        text-align: left;
        position: initial;

        img {
          height: 36px;
        }
      }
    }
  }
}
