.btn {
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid transparent !important;
  @include transition(all .15s $transition-type-default);

  &:focus, &.focus {
    outline: none;
  }

  &.btn-primary {
    &:hover {
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-border-hover;
    }
  }

  &.btn-link {
    background-image: url('./../../static/img/icon-link.svg');
    background-position: 17px 19px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 48px;
    @include button-variant($gray-dark, $btn-default-bg, $btn-default-border);
  }
}

.form-control {
  padding: $padding-small-vertical $padding-small-horizontal;
  border-width: 3px;

  &:focus {
    border-color: $brand-primary;
    @include box-shadow(none);
  }
}

@media screen and (max-width: $screen-sm-max) {
  .btn {
    padding: 8px 14px;

    &.btn-link {
      padding: 8px 14px 8px 41px;
      background-position: 12px;
    }
  }
}
