.navbar {
  border: none;
  margin-bottom: 0;
  position: absolute;
  top: $navbar-height;
  left: 0;
  right: 0;
  z-index: $zindex-navbar-fixed;

  .navbar-default {
    position: absolute;
    top: (-$navbar-height);
    left: 0;
    right: 0;
    background: $navbar-default-bg;
    @include transition(opacity $transition-speed-base $transition-type-menu $transition-speed-slower,
                        background $transition-speed-base $transition-type-menu $transition-speed-slow);
    border: none;
  }

  .navbar-header {
    float: none !important;
    width: 100%;

    .navbar-toggle, .navbar-brand {
      position: relative;
    }

    .navbar-brand {
      margin: floor(($navbar-height - 45px) / 2) $spacing-horizontal-md;
      padding: 0;
      height: 45px;
      width: 215px;
      display: block;
      position: relative;

      &:before, &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 98%;
        background-repeat: no-repeat;
        background-position: left center;
        @include transition(opacity $transition-speed-slow $transition-type-menu $transition-speed-base);
      }

      &:before {
        background-image: url('./../../static/img/hotwire-logo.svg');
        @include opacity(1);
      }

      &:after {
        background-image: url('./../../static/img/hotwire-logo-white.svg');
        @include opacity(0);
      }
    }

    .navbar-language-switch {
      position: absolute;
      top: 15px;
      right: 100px;

      .btn {
        @include box-shadow(none);
      }

      .btn-default {
        padding-right: 0;
        background: transparent;
        @include transition(color $transition-speed-slow $transition-type-menu $transition-speed-base);

        &:hover {
          background: transparent;
        }

        .caret {
          position: relative;
          top: -2px;
          border-top: 6px dashed;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          color: $brand-primary;
          @include transition(color $transition-speed-slow $transition-type-menu $transition-speed-base,
                              transform $transition-speed-slow $transition-type-menu,
                              top $transition-speed-slow $transition-type-menu);
        }
      }

      ul {
        a {
          padding: 8px $grid-gutter-width/2;
          color: $gray-dark;
          text-transform: uppercase;
          display: block;
          text-align: center;

          &.active, &:hover {
            color: $text-color;
          }

          &.active {
            text-decoration: underline;
          }
        }
      }

      &.open, &:focus {
        .btn {
          @include box-shadow(none);

          &.btn-default {
            .caret {
              top: -3px;
              @include rotate(180deg);
            }
          }
        }
      }
    }

    .navbar-toggle {
      margin: floor(($navbar-height - 29px) / 2) $spacing-horizontal-md;
      padding: 0;
      width: 40px;
      height: 29px;
      border: none;
      background: none;
      display: block !important;
      position: relative;

      .icon-bar {
        margin: 0;
        width: 40px;
        height: 5px;
        background-color: $gray-dark;
        position: absolute;
        @include transition(all $transition-speed-slow $transition-type-menu,
                            background-color $transition-speed-slow $transition-type-menu $transition-speed-base);

        &:nth-of-type(1) {
          top: 0;
          right: 0;
          transform: rotate(0);
          -webkit-transform: rotate(0);
          -moz-transform: rotate(0);
        }

        &:nth-of-type(2) {
          top: 12px;
          right: 0;
          transform: rotate(0);
          -webkit-transform: rotate(0);
          -moz-transform: rotate(0);
        }

        &:nth-of-type(3) {
          top: 24px;
          right: 0;
          transform: rotate(0);
          -webkit-transform: rotate(0);
          -moz-transform: rotate(0);
        }
      }
    }
  }

  &.open {
    .navbar-default {
      background: transparent;

      .navbar-header {
        .navbar-brand {
          &:before {
            @include opacity(0);
          }

          &:after {
            @include opacity(1);
          }
        }

        .navbar-toggle {
          .icon-bar {
            background-color: #fff;

            &:nth-of-type(1) {
              top: 12px;
              right: 25px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
            }

            &:nth-of-type(2) {
              top: 12px;
              right: 10px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
            }

            &:nth-of-type(3) {
              top: 12px;
              right: -5px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
            }
          }
        }

        .navbar-language-switch {
          .btn-default {
            color: #fff;

            .caret {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

body {
  &.menu-open:not(.scroll-up) {
    #app > nav.navbar {
      position: fixed;
      top: 0;

      .navbar-default {
        top: 0;
        @include opacity(1);
      }
    }
  }

  &.scroll-down {
    #app > nav.navbar {
      .navbar-default {
        @include opacity(0);
      }
    }
  }

  &.scroll-up {
    #app > nav.navbar {
      position: fixed;
      top: 0;

      .navbar-default {
        top: 0;
        @include opacity(1);
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .navbar {
    .navbar-header {
      .navbar-brand {
        margin-left: $spacing-horizontal-sm;
        margin-right: $spacing-horizontal-sm;
      }

      .navbar-language-switch {
        top: 20px;
      }

      .navbar-toggle {
        margin-left: $spacing-horizontal-sm;
        margin-right: $spacing-horizontal-sm;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  body {
    &.menu-open:not(.menu-opening) {
      position: fixed;
    }
  }

  .navbar {
    .navbar-header {
      .navbar-brand {
        padding-top: 6px;
        width: 160px;
      }

      .navbar-language-switch {
        right: 90px;

        .btn-default {
          .visible-xs {
            display: inline-block !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    .navbar-header {
      .navbar-brand {
        width: 120px;
      }

      .navbar-toggle {
        margin-top: 30px;
        height: 24px;

        .icon-bar {
          width: 30px;
          height: 4px;

          &:nth-of-type(1) {

          }

          &:nth-of-type(2) {
            top: 10px;
          }

          &:nth-of-type(3) {
            top: 20px;
          }
        }
      }

      .navbar-language-switch {
        right: 75px;
      }
    }
  }

  body.menu-open {
    #app > nav.navbar {
      .navbar-header {
        .navbar-toggle {
          .icon-bar {
            &:nth-of-type(1) {
              right: 23px;
            }

            &:nth-of-type(2) {
              right: 9px;
            }
          }
        }
      }
    }
  }
}
