body.home {
  .showcase-casestudies {
    background-color: $gray-light;

    .casestudies {
      .row {
        .case-study {
          a {
            background-color: #fff;

            &:hover {
              background-color: $gray-lighter;
            }
          }
        }
      }
    }
  }
}
