.page-template-template-job {
  #content {
    > .container {
      max-width: $container-tablet;

      article {
        padding-top: $spacing-vertical-lg;
        padding-bottom: $spacing-vertical-lg;

        .btn-container {
          padding-top: $spacing-vertical-md;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .page-template-template-job {
    #content {
      > .container {
        article {
          padding-top: $spacing-vertical-md;
          padding-bottom: $spacing-vertical-md;

          .btn-container {
            padding-top: $spacing-vertical-sm;
          }
        }
      }
    }
  }
}
