body:not(.mounted) {
  #menu {
    @include opacity(0);
  }
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-navbar-fixed - 1;
  overflow: hidden;
  background: transparent;
  @include transition(background $transition-speed-slow $transition-type-menu 0s);

  .menu-background-accent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $brand-primary;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 1;
    @include opacity(0.97);
    @include transition(clip-path $transition-speed-slow $transition-type-menu 0s,
                        bottom $transition-speed-slow $transition-type-menu 0s,
                        top $transition-speed-slow $transition-type-menu 0s);
  }

  .menu-background {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: $gray-dark;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    @include opacity(0.99);
    @include transition(bottom $transition-speed-slow $transition-type-menu 0s,
                        top $transition-speed-slow $transition-type-menu 0s);
  }

  .menu-background-base {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: $gray-dark;
    @include opacity(0.99);
    @include transition(bottom $transition-speed-slow $transition-type-menu 0s,
                        top $transition-speed-slow $transition-type-menu 0s);
  }

  .menu-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .menu-header-container {
      margin: auto 0 0 auto;
      width: 75%;
      @include opacity(0);
      @include transition(opacity $transition-speed-base $transition-type-menu #{$transition-speed-slow * 2});

      > ul.navbar-nav {
        margin: 100px auto 0;
        padding: 0;
        width: 100%;
        height: 315px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;

        > li {
          display: block;

          a {
            margin: 0 0 10px;
            padding: 15px 0 5px;
            color: #fff;
            line-height: 70px;
            font-size: 70px;
            font-weight: $headings-font-weight;
            text-transform: uppercase;
            display: inline-block;
            background: transparent;
            border-bottom: 4px solid transparent;
            @include transition(all $transition-speed-base $transition-type-menu);

            &:hover, &:focus {
              color: $link-color;
              background: transparent;
            }
          }

          &.current-menu-item, &.current_page_item {
            a {
              border-bottom: 4px solid #fff;
            }
          }
        }
      }
    }

    .menu-countries {
      margin: 60px 0 auto auto;
      width: 75%;
      @include opacity(0);
      @include transition(opacity $transition-speed-base $transition-type-menu #{$transition-speed-slow * 2});

      .inner {
        display: flex;
        flex-direction: column;
        height: 110px;
        flex-wrap: wrap;
        align-content: space-between;

        .country {
          display: block;

          a {
            margin-bottom: 6px;
            padding: 15px 0 3px;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            white-space: nowrap;
            background: transparent;
            color: #fff;
            border-bottom: 3px solid transparent;
            @include transition(all $transition-speed-base $transition-type-menu);

            &:hover, &:focus {
              color: $link-color;
              background: transparent;
            }
          }

          &.active {
            a {
              border-bottom: 3px solid #fff;
            }
          }
        }
      }
    }
  }

  &.opening {
    background: $gray-dark;
    @include opacity(1);
    @include transition(opacity $transition-speed-slow $transition-type-menu 0s);

    .menu-content {
      .menu-header-container, .menu-countries {
        @include opacity(1);
        @include transition(opacity $transition-speed-base $transition-type-menu $transition-speed-slower);
      }
    }
  }

  &.open {
    &:not(.opening) {
      background: transparent;
    }

    @include opacity(1);
    @include transition(opacity $transition-speed-slow $transition-type-menu 0s);

    .menu-background-accent {
      top: -75%;
      bottom: 50%;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
      @include transition(clip-path $transition-speed-slow $transition-type-menu $transition-speed-slow,
                          bottom $transition-speed-slow $transition-type-menu $transition-speed-slow,
                          top $transition-speed-slow $transition-type-menu $transition-speed-slow);
    }

    .menu-background {
      top: -75%;
      bottom: 50%;
      @include transition(bottom $transition-speed-slow $transition-type-menu $transition-speed-slow,
                          top $transition-speed-slow $transition-type-menu $transition-speed-slow);
    }

    .menu-background-base {
      top: calc(50% - 1px);
      bottom: 0;
      @include transition(bottom $transition-speed-slow $transition-type-menu $transition-speed-slow,
                          top $transition-speed-slow $transition-type-menu $transition-speed-slow);
    }

    .menu-content {
      .menu-header-container, .menu-countries {
        @include opacity(1);
      }
    }
  }

  &.closing {
    left: 0;
    background: $gray-dark;
    @include opacity(0);
    @include transition(opacity $transition-speed-slow $transition-type-menu $transition-speed-slow);

    .menu-content {
      .menu-header-container, .menu-countries {
        @include opacity(0);
        @include transition(opacity $transition-speed-base $transition-type-menu 0s);
      }
    }
  }

  &.closed {
    left: 100%;
    @include opacity(0);

    .menu-content {
      .menu-header-container, .menu-countries {
        @include opacity(0);
      }
    }
  }
}

.svg-menu-hide {
  width: 0;
  height: 0;
  position: absolute;
}

body.ie, body.edge, body.windows.unknown, body.unknown {
  #menu {
    .menu-background-accent {
      width: 500px;
      height: 500px;
      top: -250px;
      left: -250px;
      clip-path: none;
      @include transition(none);
      @include rotate(-45deg);
    }

    .menu-background {
      top: 0;
      bottom: 0;
      clip-path: none;
      @include transition(none);
    }

    .menu-background-base {
      display: none;
    }

    &.open {
      .menu-background-accent {
        top: -25%;
        clip-path: url('#ie-menu-background-accent-svg');
        @include transition(none);
      }

      .menu-background {
        top: 0;
        bottom: 0;
        @include transition(none);
      }

      .menu-background-base {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-max) {
  #menu {
    &.open {
      .menu-background-accent, .menu-background {
        top: -100%;
        bottom: 60%;
      }

      .menu-background-base {
        top: calc(40% - 1px);
      }
    }

    .menu-content {
      max-width: $container-xl;
    }
  }

  body.ie, body.edge, body.windows.unknown {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 500px;
        height: 500px;
        top: -250px;
        left: -250px;
      }

      .menu-background, &.open .menu-background {
        top: 0;
        bottom: 0;
      }

      .menu-background-base, &.open .menu-background-base {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $screen-lg-max) {
  #menu {
    .menu-content {
      .menu-countries {
        .inner {
          height: 220px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  #menu {
    &.open {
      .menu-background-accent, .menu-background {
        top: -90%;
        bottom: 50%;
      }

      .menu-background-base {
        top: calc(50% - 1px);
      }
    }

    .menu-content {
      width: 80%;
    }
  }

  body.ie, body.edge, body.windows.unknown {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 500px;
        height: 500px;
        top: -250px;
        left: -250px;
      }

      .menu-background, &.open .menu-background {
        top: 0;
        bottom: 0;
      }

      .menu-background-base, &.open .menu-background-base {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #menu {
    &.open {
      .menu-background-accent, .menu-background {
        top: -90%;
        bottom: 50%;
      }

      .menu-background-base {
        top: calc(50% - 1px);
      }
    }

    .menu-content {
      left: 0;
      width: 90%;

      .menu-header-container {
        > ul.navbar-nav {
          > li {
            a {
              margin-bottom: 10px;
              padding: 15px 0 5px;
              font-size: 60px;
              line-height: 60px;
            }
          }
        }
      }

      .menu-countries {
        margin-top: 30px;
      }
    }
  }

  body.ie, body.edge, body.windows.unknown {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 500px;
        height: 500px;
        top: -250px;
        left: -250px;
      }

      .menu-background, &.open .menu-background {
        top: 0;
        bottom: 0;
      }

      .menu-background-base, &.open .menu-background-base {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #menu {
    &.open {
      .menu-background-accent, .menu-background {
        top: -70%;
        bottom: 50%;
      }
    }

    .menu-content {
      padding-right: 60px;
      width: 100%;
      left: 0;

      .menu-header-container {
        > ul.navbar-nav {
          height: 225px;
          margin-top: 150px;

          > li {
            text-align: left;

            a {
              margin-bottom: 10px;
              padding: 15px 0 5px;
              font-size: 40px;
              line-height: 40px;
            }
          }
        }
      }

      .menu-countries {
        margin-top: 30px;
      }
    }
  }

  body.ie, body.edge, body.windows.unknown {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 450px;
        height: 450px;
        top: -225px;
        left: -225px;
      }

      .menu-background, &.open .menu-background {
        top: 0;
        bottom: 0;
      }

      .menu-background-base, &.open .menu-background-base {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #menu {
    &.open {
      .menu-background-accent, .menu-background {
        top: -40%;
        bottom: 50%;
      }
    }

    .menu-content, .menu-countries {
      width: 95%;
    }

    .menu-content {
      margin-top: 75px;
      height: calc(100vh - 75px);
      width: 100%;
      left: 0;
      overflow-y: scroll;
      display: block;

      .menu-header-container {
        width: 95%;

        > ul.navbar-nav {
          margin-top: $spacing-vertical-xs;
          display: block;
          height: auto;

          > li {
            text-align: center;

            a {
              margin-bottom: 5px;
              padding: 15px 0 8px;
              font-size: 28px;
              line-height: 28px;
            }
          }
        }
      }

      .menu-countries {
        margin-top: $spacing-vertical-sm;
        width: 95%;

        .inner {
          padding-bottom: $spacing-vertical-md;
          display: block;
          height: auto;

          .country {
            text-align:center;

            a {
              margin-bottom: 12px;
              padding: 0;
              font-size: $font-size-base;
              line-height: 32px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  body.gecko {
    #menu {
      .menu-background-accent {
        width: 500px;
        height: 500px;
        top: -250px;
        left: -250px;
        clip-path: none;
        @include transition(none);
        @include rotate(-45deg);
      }

      .menu-background {
        top: 0;
        bottom: 0;
        clip-path: none;
        @include transition(none);
      }

      .menu-background-base {
        display: none;
      }

      &.open {
        .menu-background-accent {
          top: -25%;
          clip-path: url('#ie-menu-background-accent-svg');
          @include transition(none);
        }

        .menu-background {
          top: 0;
          bottom: 0;
          @include transition(none);
        }

        .menu-background-base {
          display: none;
        }
      }
    }
  }

  body.ie, body.edge, body.windows.unknown, body.gecko {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 400px;
        height: 400px;
        top: -200px;
        left: -200px;
      }

      .menu-background, &.open .menu-background {
        top: 0;
        bottom: 0;
      }

      .menu-background-base, &.open .menu-background-base {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: $screen-xs-min){
  body.ie, body.edge, body.windows.unknown, body.gecko {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 350px;
        height: 350px;
        top: -175px;
        left: -175px;
      }
    }
  }
}


@media screen and (max-width: 399px) {
  body.ie, body.edge, body.windows.unknown, body.gecko {
    #menu {
      .menu-background-accent, &.open .menu-background-accent {
        width: 300px;
        height: 300px;
        top: -150px;
        left: -150px;
      }
    }
  }
}
