body.mounted {
  #content {
    > .page-header {
      &.page-header-large, &.page-header-medium-standard, &.page-header-medium-accent, &.page-header-no-image {
        .container {
          .inner {
            h1, h2 {
              top: 0;
              @include opacity(1);
            }
          }
        }
      }
    }
  }
}

.page-header {
  margin: 0;
  border: 0;
  background-color: transparent;
  display: flex;

  &.visual {
    .visual-preload {
      z-index: -1;
    }
  }

  &.page-header-large {
    padding-bottom: $spacing-vertical-sm;
    height: calc(100vh - #{$navbar-height});
    max-height: calc(100vh - #{$navbar-height});

    .visual-preload {
      height: calc(100% + 1px);

      &:before, &:after {
        content: ' ';
        display: block;
        background-image: url('./../../static/img/hotwire-badge.svg');
        background-position: 0 50%;
        background-size: contain;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        bottom: 0;
      }

      &:after {
        mix-blend-mode: color;
      }
    }

    .container {
      margin: auto;
      padding-left: 35%;

      .inner {
        margin: 0;
        padding: $spacing-vertical-md + 10px 0 $spacing-vertical-md;
        width: 100%;
        color: #fff;

        h1 {
          margin: 0;
          padding: 0;
          font-size: 60px;
          line-height: 77px;
          font-style: normal;
          position: relative;
          top: $spacing-vertical-md;
          @include opacity(0);
          @include transition(
            opacity $transition-speed-slow $transition-type-default $transition-delay-header-title,
            top $transition-speed-slow $transition-type-default $transition-delay-header-title
          );
        }

        h2 {
          margin: 0;
          padding: 0;
          font-size: 36px;
          line-height: 46px;
          font-weight: 500;
          position: relative;
          top: $spacing-vertical-sm;
          @include opacity(0);
          @include transition(
            opacity $transition-speed-slow $transition-type-default $transition-delay-header-subtitle,
            top $transition-speed-slow $transition-type-default $transition-delay-header-subtitle
          );
        }
      }
    }
  }

  &.page-header-medium-standard {
    padding: 120px 0;
    min-height: 435px;
    color: #fff;

    .container {
      display: flex;

      .inner {
        margin: auto;
        width: 100%;

        header {
          display: flex;
          flex-direction: column-reverse;
          width: 70%;

          h1 {
            margin: $spacing-vertical-xxs 0;
            padding: 0;
            font-style: normal;
            font-style: italic;
            position: relative;
            top: $spacing-vertical-md;
            @include opacity(0);
            @include transition(
              opacity $transition-speed-slow $transition-type-default $transition-delay-header-title,
              top $transition-speed-slow $transition-type-default $transition-delay-header-title
            );
          }

          h2 {
            margin: 0 0 $spacing-vertical-xs;
            padding: 0;
            font-size: $font-size-h4;
            font-style: italic;
            color: $brand-primary;
            position: relative;
            top: $spacing-vertical-sm;
            @include opacity(0);
            @include transition(
              opacity $transition-speed-slow $transition-type-default $transition-delay-header-subtitle,
              top $transition-speed-slow $transition-type-default $transition-delay-header-subtitle
            );
          }
        }
      }
    }
  }

  &.page-header-medium-accent {
    padding: 120px 0;
    min-height: 435px;
    color: #fff;

    .container {
      display: flex;

      .inner {
        margin: auto;
        width: 100%;

        header {
          h1 {
            margin: 0;
            padding: 0;
            font-style: normal;
            font-weight: normal;
            position: relative;
            top: $spacing-vertical-md;
            @include opacity(0);
            @include transition(
              opacity $transition-speed-slow $transition-type-default $transition-delay-header-title,
              top $transition-speed-slow $transition-type-default $transition-delay-header-title
            );
          }

          h2 {
            margin: 0;
            padding: 0;
            font-size: 75px;
            font-style: italic;
            color: $brand-primary;
            position: relative;
            top: $spacing-vertical-sm;
            @include opacity(0);
            @include transition(
              opacity $transition-speed-slow $transition-type-default $transition-delay-header-subtitle,
              top $transition-speed-slow $transition-type-default $transition-delay-header-subtitle
            );
          }
        }
      }
    }
  }

  &.page-header-no-image {
    padding: $spacing-vertical-lg 0 $spacing-vertical-lg;
    background: $gray-lighter;

    header {
      margin: 0 auto;
      max-width: $container-tablet - $grid-gutter-width;
    }

    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative;
      top: $spacing-vertical-md;
      @include opacity(0);
      @include transition(
        opacity $transition-speed-slow $transition-type-default $transition-delay-header-title,
        top $transition-speed-slow $transition-type-default $transition-delay-header-title
      );
    }

    h2 {
      margin: $spacing-vertical-xs 0 0;
      padding: 0;
      text-align: center;
      font-size: $font-size-base;
      font-weight: 100;
      position: relative;
      color: $gray-dark;
      top: $spacing-vertical-sm;
      @include opacity(0);
      @include transition(
        opacity $transition-speed-slow $transition-type-default $transition-delay-header-subtitle,
        top $transition-speed-slow $transition-type-default $transition-delay-header-subtitle
      );
    }
  }
}

body.mounted {
  .page-header {
    &.page-header-large, .page-header-medium-accent, .page-header-medium-standard, .page-header-no-image {
      .container {
        .inner {
          h1, h2 {
            top: 0;
            @include opacity(1);
          }
        }
      }
    }
  }
}

body.ie {
  .page-header {
    &.page-header-large {
      .container {
        height: 350px;
      }
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .page-header {
    &.page-header-large {
      .container {
        padding-left: 30%;
      }

      .visual-preload {
        &:before, &:after {
          width: $container-xl - $grid-gutter-width;
          background-size: 65%;
          left: calc(50% - #{($container-xl - $grid-gutter-width) / 2});
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .page-header {
    &.page-header-large {
      .visual-preload {
        &:before, &:after {
          width: $container-lg - $grid-gutter-width;
          background-size: 70%;
          left: calc(50% - #{($container-lg - $grid-gutter-width) / 2});
        }
      }

      .container {
        padding-left: 35%;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .page-header {
    &.page-header-large {
      .visual-preload {
        &:before, &:after {
          width: $container-md - $grid-gutter-width;
          background-size: 75%;
          left: calc(50% - #{($container-md - $grid-gutter-width) / 2});
        }
      }

      .container {
        padding-left: 20%;
      }
    }
  }

  body.ie {
    .page-header {
      &.page-header-large {
        .container {
          height: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .page-header {
    &.page-header-large {
      .visual-preload {
        &:before, &:after {
          width: $container-sm - $grid-gutter-width;
          background-size: 65%;
          left: calc(50% - #{($container-sm - $grid-gutter-width) / 2});
        }
      }

      .container {
        padding-left: $grid-gutter-width;
        background-size: 90%;
      }
    }
  }

  body.ie {
    .page-header {
      &.page-header-large {
        .container {
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .page-header {
    &.page-header-large {
      height: calc(100vh - #{$navbar-height});
      max-height: calc(100vh - #{$navbar-height});

      .visual-preload {
        &:before, &:after {
          width: 100%;
          background-size: 120%;
          left: 0;
        }
      }

      .container {
        padding-left: $grid-gutter-width/2;

        .inner {
          h1 {
            font-size: $font-size-h1;
            line-height: $headings-line-height + 0.1;
          }

          h2 {
            font-size: $font-size-h3;
            line-height: $line-height-base;
          }
        }
      }
    }

    &.page-header-medium-accent {
      .container {
        width: 100%;
      }
    }

    &.page-header-medium-standard {
      .container {
        .inner {
          width: 100%;
        }
      }
    }

    &.page-header-no-image {
      display: block;
    }
  }

  body.ie {
    .page-header {
      &.page-header-large {
        .container {
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .page-header {
    &.page-header-large {
      padding: $spacing-vertical-md 0;

      .visual-preload {
        &:before, &:after {
          background-position: -15px 50%;
          background-size: 130%;
        }
      }

      .container {
        padding-left: $grid-gutter-width/2;
        background-image: none;

        .inner {
          padding: $spacing-vertical-md 0;

          h1 {
            font-size: $font-size-h3 * .9;
            line-height: $headings-line-height + 0.1;
          }

          h2 {
            font-size: $font-size-h4;
            line-height: $line-height-base;
          }
        }
      }
    }

    &.page-header-medium-accent {
      .container {
        .inner {
          header {
            h2 {
              font-size: $font-size-h1;
            }
          }
        }
      }
    }

    &.page-header-no-image {
      padding: $spacing-vertical-md 0;
    }

    &.page-header-medium-standard {
      .container {
        width: 100%;

        .inner {
          header {
            width: 100%;
          }
        }
      }
    }

    &.page-header-medium-standard, &.page-header-medium-accent {
      padding: $spacing-vertical-md 0;
      min-height: calc(100vh - #{$navbar-height} - #{$spacing-vertical-md} - #{$spacing-vertical-lg});
    }
  }
}

@media screen and (max-width: $screen-xs-min - 1) {
  .page-header {
    &.page-header-large {
      padding: 0;

      .container {
        .inner {
          h1 {
            font-size: $font-size-large;
            line-height: $headings-line-height;
          }

          h2 {
            font-size: $font-size-base;
            line-height: $line-height-base;
          }
        }
      }
    }
  }
}
