.pardot-form {
  iframe {
    width: 100%;
    height: 0;
    border: none;
    overflow: hidden;
  }
}

body.pardot {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  overflow: hidden;
  background: transparent;
}

.call-to-action.pardot-form-contact {
  iframe {
    height: 555px;
  }
}

.call-to-action.pardot-form-newsletter {
  margin: 0;
  padding: 20px 0 0;
  background: $brand-primary;

  iframe {
    height: 100px;
  }
}

.call-to-action.pardot-form-whitepaper {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;
  background-color: #fff;

  iframe {
    height: 590px;
  }
}

body.pardot-newsletter {
  background: $brand-primary;
  color: #fff;

  form.form {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background: transparent;

    p.submit {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      z-index: 2;

      input {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 30px;
        border: none;
        text-indent: -1000px;
        position: relative;
        top: 5px;
        background: $brand-primary;
        background-image: url('./../../static/img/icon-envelope.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 65%;
        cursor: pointer;
      }
    }

    p.form-field.email {
      position: relative;
      margin: 0;
      padding: 0;
      overflow: hidden;

      label {
        position: absolute;
        font-weight: normal;
        font-size: $font-size-small;
        left: 0;
        text-transform: uppercase;
        height: 30px;
        top: 10px;
        z-index: -1;
        white-space: nowrap;
        color: #fff;
        display: none;
      }

      &.has-input {
        label {
          display: block;
        }
      }

      input {
        padding: 10px 40px 10px 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        width: 100%;
        font-weight: normal;
        font-size: $font-size-small;
        outline: none;
        box-sizing: border-box;
        color: #fff;
      }

      .description {
        display: block;
        font-size: $font-size-small * 0.9;
        padding: 5px 0 0;
        color: rgba(255,255,255,0.8);
      }
    }

    p.error {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: $font-size-small * 0.9;
      color: #fff;
    }
  }
}

body.pardot-contact {
  form.form {
    display: flex;
    flex-wrap: wrap;
    @extend .row;

    .form-group {
      margin: 0 0 $spacing-vertical-xs;
      padding: 0 $grid-gutter-width/2 $spacing-vertical-sm;
      width: 49.9%;
      position: relative;

      &:last-of-type {
        width: 100%;
      }

      &.required {
        label {
          &:after {
            content: '*';
          }
        }
      }

      &.error {
        label, p.error {
          color: $state-danger-text;
        }

        input, textarea {
          border-color: $state-danger-text;
        }

        p.error {
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 0;
          font-size: $font-size-small;
        }
      }

      label {
        font-weight: 600;
        text-transform: uppercase;
      }

      input, textarea {
        @extend .form-control;
      }

      textarea {
        height: 150px;
      }
    }

    p.submit {
      margin: 0 auto;
    }
  }
}

body.pardot-whitepaper {
  form.form {
    display: flex;
    flex-wrap: wrap;
    @extend .row;

    .form-group {
      margin: 0 0 $spacing-vertical-xs;
      padding: 0 $grid-gutter-width/2 $spacing-vertical-sm;
      width: 49.9%;
      position: relative;

      &:last-of-type {
        width: 100%;
      }

      &.required {
        label {
          &:after {
            content: '*';
          }
        }
      }

      &.opted_out {
        label.field-label {
          display: block;
        }

        input {
          margin: 6px 0 0;
          padding: 0;
          width: 40px;
          height: auto;
          display: inline-block;
          vertical-align: top;
          @include box-shadow(none);
        }

        label.inline {
          width: calc(100% - 42px);
          text-transform: none;
          font-weight: 100;
          vertical-align: top;
        }
      }

      &.error {
        label, p.error {
          color: $state-danger-text;
        }

        input, textarea {
          border-color: $state-danger-text;
        }

        p.error {
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 0;
          font-size: $font-size-small;
        }
      }

      label {
        font-weight: 600;
        text-transform: uppercase;
      }

      input, textarea {
        @extend .form-control;
      }

      textarea {
        height: 150px;
      }
    }

    p.submit {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: $screen-xs-min - $grid-gutter-width) and (max-width: $screen-sm-max - $grid-gutter-width) {
  .call-to-action.pardot-form-whitepaper {
    iframe {
      height: 630px;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .call-to-action.pardot-form-whitepaper {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;
  }
}

@media screen and (max-width: $screen-xs-min - $grid-gutter-width) {
  .pardot-form {
    &.country-cta {
      iframe {
        height: 120px;
      }
    }
  }

  body.pardot-country-cta {
    form.form {
      p.form-field.email {
        label, input {
          font-size: $font-size-small * 0.9;
        }
      }
    }
  }

  body.pardot-contact {
    form.form {
      flex-direction: column;

      .form-group {
        width: 100%;
      }
    }
  }

  body.pardot-whitepaper {
    form.form {
      flex-direction: column;

      .form-group {
        width: 100%;
      }
    }
  }

  .call-to-action.pardot-form-whitepaper {
    iframe {
      height: 1080px;
    }
  }
}
