.single-post {
  #content {
    > .container {
      max-width: $container-tablet;

      article {
        padding-top: $spacing-vertical-lg;
        padding-bottom: $spacing-vertical-lg;

        .entry-meta {
          padding-bottom: $spacing-vertical-md;

          .author {
            text-align: left;
          }

          .date {
            text-align: right;
            color: $gray-dark;
          }
        }

        img, .embed-responsive, blockquote {
          margin-top: $spacing-vertical-sm;
          margin-bottom: $spacing-vertical-sm;
        }

        img {
          max-width: 100%;
          height: auto;
        }

        blockquote {
          padding: 0;
          text-transform: uppercase;
          font-style: italic;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .single-post {
    #content {
      > .container {
        article {
          padding-top: $spacing-vertical-md;
          padding-bottom: $spacing-vertical-md;

          .entry-meta {
            padding-bottom: $spacing-vertical-sm;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .single-post {
    #content {
      > .container {
        article {
          .entry-meta {
            .date {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
