.single-hw_sector {
  .overview {
    margin: 0;
    padding: $spacing-vertical-lg 0;

    .container {
      max-width: $container-tablet;

      header {
        margin: 0 0 $spacing-vertical-sm + $spacing-vertical-xxs;
        padding: 0;

        h3 {
          margin: 0;
          padding: 0;
          font-size: $font-size-base;
          text-align: center;
        }
      }
    }
  }

  .case-studies {
    header {
      h2 {
        font-style: italic;
      }
    }
  }

  .thought-leadership {
    header {
      h2 {
        font-style: italic;
      }
    }
  }

  .quote {
    padding: 140px 0 240px;
    text-transform: uppercase;
    font-style: italic;
    position: relative;

    .brands-animated-background {
      &:before, &:after {
        background-position: bottom center;
        background-size: auto;
      }
    }

    .container {
      max-width: 720px;

      blockquote {
        padding: 0;
      }

      .quotee, .quotee-title {
        margin: 0;
        padding: 0;
        color: $gray-dark;
        display: inline;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
      }
    }
  }
}


@media screen and (max-width: $screen-sm-max) {
  .single-hw_sector {
    .overview {
      padding: $spacing-vertical-md 0;

      .container {
        header {
          margin: 0 0 $spacing-vertical-xs;

          h3 {
            text-align: left;
          }
        }
      }
    }

    .quote {
      padding: 70px 0 170px;
    }
  }
}
