.work-filter {
  padding-top: $spacing-vertical-md;
  padding-bottom: $spacing-vertical-md;

  header {
    .title {
      margin: 0;
      padding: 0;
      font-size: $font-size-h3;
    }
  }

  .filters {
    margin-top: $spacing-vertical-sm;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    text-transform: uppercase;

    .filter {
      margin: 0 0 $spacing-vertical-sm/3;
      display: block;
      color: lighten($gray, 10%);
      cursor: pointer;
      @include transition(color $transition-speed-base $transition-type-default);

      &:hover, &.mixitup-control-active {
        color: $text-color;
      }

      &.mixitup-control-active {
        text-decoration: underline;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .separator {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.work-content {
  background: #fff;

  .work-item {
    margin: 0 0 $spacing-vertical-sm/4;
    position: relative;

    .page-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      @include opacity(0)
      @include transition(opacity $transition-speed-slow $transition-type-default);

      .visual-preload {
        @include grayscale(1);
      }

      .inner {
        header {
          position: relative;

          h1 {
            position: relative;
            top: $spacing-vertical-md;
            @include opacity(0);
            @include transition(opacity $transition-speed-base $transition-type-default $transition-speed-slow,
                                top $transition-speed-base $transition-type-default $transition-speed-slow);
          }

          h2 {
            position: relative;
            top: $spacing-vertical-sm;
            @include opacity(0);
            @include transition(opacity $transition-speed-base $transition-type-default,
                                top $transition-speed-base $transition-type-default);
          }

          a.back {
            position: relative;
            top: $spacing-vertical-sm;
            color: rgba(255,255,255,0.4);
            @include opacity(0);
            @include transition(opacity $transition-speed-base $transition-type-default,
                                top $transition-speed-base $transition-type-default $transition-speed-base);

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    a {
      display: block;
      color: $text-color;
      position: relative;
      z-index: 2;

      .slick-image {
        position: relative;

        .visual-preload {
          background-color: $gray-light;
          @include grayscale(1);
        }

        .content {
          margin: 0;
          padding: $spacing-vertical-md 0 $spacing-vertical-xl $spacing-horizontal-md;
          width: 50%;
          position: relative;
          left: 50%;
          background: $gray-lighter;
          font-family: $headings-font-family;
          font-weight: $headings-font-weight;
          @include transition(left $transition-speed-slow $transition-type-default);

          .inner {
            position: relative;

            .information {
              position: relative;
              text-transform: uppercase;
              font-size: $font-size-large;

              .country {
                position: absolute;
                top: 0;
                right: 0;
                color: $brand-primary;
              }

              .company {
                font-style: italic;
                color: $gray-dark;
              }
            }

            .title {
              margin: $spacing-vertical-md 0;
              padding: 0;
              font-style: normal;
              font-size: $font-size-h3;
            }

            .body {
              margin: 0 0 $spacing-vertical-lg;
              font-weight: 500;
            }

            .btn {
              margin-bottom: $spacing-vertical-sm;
            }
          }
        }
      }

      &:hover {
        .slick-image {
          .visual-preload {
            @include grayscale(0);
          }
        }
      }
    }

    &.launch {
      .page-header {
        @include opacity(1);
        z-index: 3;

        .visual-preload {
          @include grayscale(0);
        }

        &.launch-step-2 {
          position: fixed;
          bottom: auto;
        }

        &.launch-step-3 {
          top: $navbar-height;
          @include transition(min-height $transition-speed-slow $transition-type-default,
                              top $transition-speed-slow $transition-type-default);
        }

        &.launch-step-4 {
          top: 0;
          position: relative;
          @include transition(top 0s linear);

          .visual-preload {
            @include grayscale(1);
          }

          .inner {
            h1, h2, a.back {
              top: 0;
              @include opacity(1);
            }
          }
        }
      }

      a {
        .slick-image {
          .content {
            left: 100%;
          }
        }
      }
    }
  }
}

.page-template-template-work {
  .work-filter, .work-content {
    @include opacity(0);
    @include transition(opacity $transition-speed-base $transition-type-default $transition-speed-slow);
  }

  &.mounted {
    .work-filter, .work-content {
      @include opacity(1);
    }
  }
}

.page-template-template-work {
  #content > *:not(.work-content),
  #content .work-content .work-item:not(.launch),
  #app > section,
  footer {
    @include transition(opacity $transition-speed-slow $transition-type-default $transition-speed-slow);
  }

  &.launch-case-study {
    #content > *:not(.work-content),
    #content .work-content .work-item:not(.launch),
    #app > section,
    footer {
      @include opacity(0);
    }
  }
}

@media screen and (min-width: 1350px) {
  .work-content {
    .work-item {
      a {
        .slick-image {
          .content {
            padding-left: $spacing-horizontal-xl;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .work-content {
    .work-item {
      a {
        .slick-image {
          .content {
            padding-right: calc(50% - #{$container-lg/2});
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .work-content {
    .work-item {
      a {
        .slick-image {
          .content {
            padding-right: calc(50% - #{$container-md/2});
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .work-content {
    .work-item {
      a {
        .slick-image {
          .visual-preload {
            background-size: contain;
            background-position: top;
          }

          .content {
            padding: $spacing-vertical-xs 0 $spacing-vertical-sm + $spacing-vertical-xs;
            width: 100%;
            left: 0;

            .inner {
              margin: 0 auto;
              padding: 0 $spacing-horizontal-sm;
              width: $container-sm;

              .information {
                font-size: $font-size-base;
              }

              .title {
                margin: $spacing-vertical-sm 0;
                font-size: $font-size-h4;
              }

              .body {
                margin-bottom: $spacing-vertical-sm + $spacing-vertical-xxs;
              }

              .btn {
                margin-bottom: 0;
              }
            }
          }

          &.has-image {
            .content {
              margin-top: 56%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .work-content {
    .work-item {
      a {
        .slick-image {
          .content {
            .inner {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
