.call-to-action.whitepaper {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  .container {
    header {
      margin-bottom: $spacing-vertical-sm;

      h2 {
        margin: 0;
        padding: 0;
        font-style: italic;
      }
    }

    .body {
      margin: 0 0 $spacing-vertical-md;
      padding: 0;
    }

    img {
      max-width: 100%;
    }
  }

  &.whitepaper-multiple {
    .container {
      > header {
        margin-bottom: $spacing-vertical-sm;
      }
    }

    .row {
      padding-top: $spacing-vertical-xs;
      display: flex;

      > div {
        display: flex;

        .whitepaper-item {
          display: flex;
          flex-direction: column;
          flex: 1;
          background-color: $gray-light;
          @include transition(background-color $transition-speed-base $transition-type-default);

          a {
            .slick-image {
              padding-bottom: 56%;
              @include grayscale(100);
              @include transition(filter $transition-speed-base $transition-type-default);
            }
          }

          .content {
            margin: 0;
            padding: $spacing-vertical-xs $spacing-horizontal-sm;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;

            header {
              margin: 0 0 $spacing-vertical-xs;

              h2 {
                font-style: normal;
                font-size: $font-size-base;
                font-weight: 600;
                color: $text-color;
              }
            }

            .body {
              margin: 0 0 $spacing-vertical-sm;
              padding: 0;
              font-size: $font-size-small;
            }

            .btn-container {
              margin: auto 0 0;
            }
          }

          &:hover {
            background-color: $gray-lighter;
          }

          a:hover {
            .slick-image {
              @include grayscale(0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .call-to-action.whitepaper {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .container {
      img {
        margin-bottom: $spacing-vertical-sm;
      }

      .body {
        margin-bottom: $spacing-vertical-sm;
      }
    }

    &.whitepaper-multiple {
      .row {
        flex-direction: column;

        > div {
          margin: 0 0 $spacing-vertical-sm;
          width: 100%;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
