.call-to-action.get-started {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  .container {
    text-align: center;

    header {
      margin: 0 0 $spacing-vertical-sm;

      .title {
        margin: 0;
        padding: 0;
        font-style: italic;
      }
    }

    a {
      margin: $spacing-vertical-xs 0 0;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .call-to-action.get-started {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .container {
      a {
        margin: 0;
      }
    }
  }

  .style-white + .call-to-action.get-started.style-white {
    padding-top: 0;
  }
}

@media screen and (max-width: $screen-xs-min) {
  .call-to-action.get-started.style-light,
  .call-to-action.get-started.style-inverse {
    background: #fff;
  }

  .style-white + .call-to-action.get-started {
    padding-top: 0;
  }
}
