.feed-jobs {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-md;
    font-style: italic;

    h2 {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .container {
    max-width: $container-tablet;

    .region {
      margin: 0 0 $spacing-vertical-sm;
      padding: 0 0 $spacing-vertical-xs;
      border-bottom: 2px solid $gray-light;

      &:last-of-type {
        margin-bottom: 0;
      }

      header {
        margin: 0 0 $spacing-vertical-sm;

        h3 {
          margin: 0;
          padding: 0;
          font-style: normal;
        }
      }

      .jobs {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            margin: 0;
            padding: $spacing-vertical-xs - $spacing-vertical-xxs 0;

            &:first-of-type {
              padding-top: 0;
            }

            a {
              color: $text-color;
              display: flex;
              text-transform: uppercase;
              font-weight: 600;

              .job {
                flex: 1;
              }

              .readmore {
                color: $link-color;

                .caret {
                  margin: 0 0 0 5px;
                  position: relative;
                  top: -3px;
                  border-left: 6px dashed;
                  border-top: 5px solid transparent;
                  border-bottom: 5px solid transparent;
                }
              }

              &:hover {
                color: $link-color;

                .readmore {
                  color: $link-color;
                }
              }
            }
          }
        }
      }
    }

    .empty-global, .empty-region {
      color: $gray-dark;
    }

    .empty-global {
      text-align: center;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .feed-jobs {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    header {
      margin: 0 0 $spacing-vertical-sm;

      h2 {
        text-align: left;
      }
    }

    .container {
      .region {
        header {
          margin: 0 0 $spacing-vertical-xs;
        }

        .jobs {
          ul {
            li {
              a {
                flex-direction: column;

                .country {
                  font-size: $font-size-small;
                  color: $gray-dark;
                  font-weight: normal;
                }

                &:hover {
                  color: $link-color;

                  .country {
                    &:hover {
                      color: $link-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
