.feed-twitter {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-md;

    h2 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: $font-size-h1;

      a {
        color: $text-color;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  .inner {
    @extend .row;
    display: flex;

    > div {
      margin: auto;
      width: 33.3%;

      > * {
        margin: 0 auto;
        padding-left: $grid-gutter-width/2 !important;
        padding-right: $grid-gutter-width/2 !important;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .feed-twitter {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    header {
      margin: 0 0 $spacing-vertical-sm;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .feed-twitter {
    .inner {
      flex-direction: column;

      > div {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
