.feed-thought-leadership {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-sm;

    h2 {
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }

  .thought-leadership-container {
    color: $text-color;

    .passle-plugin-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .passle-post-container {
        margin: $spacing-vertical-xs auto;
        padding: 0 0 #{60px + $spacing-vertical-sm};
        display: flex;
        display: block;
        flex-direction: column;
        flex: 1 1 33.3%;
        max-width: 33.3%;
        position: relative;
        cursor: pointer;
        background: $gray-light;
        border-left: $grid-gutter-width/2 solid #fff;
        border-right: $grid-gutter-width/2 solid #fff;
        @include transition(color $transition-speed-base $transition-type-default,
                            background $transition-speed-base $transition-type-default);

        a {
          color: $gray-dark;

          &:hover {
            color: $text-color;
          }
        }

        .passle-post-author {
          margin: 0;
          padding: $spacing-vertical-xs $spacing-horizontal-sm 0;
          width: 100%;
          height: 40px;
          display: block;
          position: absolute;
          top: 0;
          overflow: hidden;
          text-transform: uppercase;
          font-size: $font-size-small;
          font-weight: $headings-font-weight;
          font-family: $headings-font-family;
          display: block;
          color: $gray-dark;
          @include transition(background $transition-speed-base $transition-type-default);
        }

        .passle-post-date {
          margin: 0;
          padding: 0 $spacing-horizontal-sm $spacing-vertical-xs;
          width: 100%;
          height: 40px;
          position: absolute;
          top: 40px;
          display: block;
          text-transform: uppercase;
          border-bottom: 2px solid darken($gray-light, 10%);
          font-size: $font-size-small;
          font-family: $headings-font-family;
          display: block;
        }

        .passle-post-image {
          margin: #{80px + $spacing-vertical-xs} $spacing-horizontal-sm 0;
          padding: 0 0 56%;
          position: relative;
          overflow: hidden;

          a {
            display: none;
          }

          img {
            position: absolute;
            width: 100%;
            // width: 130%;
            // @include translate(-15%, 0);
            @include grayscale(100);
            @include transition(filter $transition-speed-base $transition-type-default);
          }
        }

        .passle-post-title {
          margin: 0;
          padding: $spacing-vertical-xs $spacing-horizontal-sm;
          text-transform: uppercase;
          font-weight: 600;
          font-size: $font-size-base;
          text-transform: uppercase;
          font-weight: 600;
        }

        .passle-post-content {
          margin: 0;
          padding: 0 $spacing-horizontal-sm $spacing-vertical-xs;
          font-size: $font-size-small;

          img {
            display: none;
          }

          strong, b {
            font-weight: normal;
          }
        }

        .passle-post-quote {
          display: none;
        }

        .btn-container {
          margin: 0;
          padding: 0 $spacing-horizontal-sm $spacing-vertical-sm;
          position: absolute;
          bottom: 0;

          .btn {
            padding: $padding-small-vertical $padding-small-horizontal;
            font-size: $font-size-small;
            @include box-shadow(none);
          }
        }

        &:hover {
          background-color: $gray-lighter;

          .passle-post-image {
            img {
              @include grayscale(0);
            }
          }

          .btn-container {
            .btn {
              @extend .focus
            }
          }

          a, a:hover {
            color: $text-color;
          }
        }
      }

      .load-more {
        margin: $spacing-vertical-md auto $spacing-vertical-xs;
      }
    }

    #passle-plugin-container {
      &.x1 {
        .passle-plugin-content {
          .passle-post-container {
            margin-left: 0;
          }
        }
      }

      &.x2 {
        .passle-plugin-content {
          .passle-post-container {
            flex: 1 1 49.9%;
            max-width: 49.9%;
          }
        }
      }
    }
  }

  &.layout-offset {
    .thought-leadership-container {
      .passle-plugin-content {
        .passle-post-container {
          &:first-of-type, &:nth-of-type(3n+1), &:nth-of-type(3n) {
            margin-top: $spacing-vertical-sm + $spacing-vertical-xs;
            margin-bottom: -$spacing-vertical-xs;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .feed-thought-leadership {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .thought-leadership-container {
      .passle-plugin-content {
        .passle-post-container {
          padding: 0 0 #{60px + $spacing-vertical-xs};
          flex: 1 1 100%;
          max-width: 100%;

          .passle-post-image {
            img {
              @include grayscale(0);
            }
          }
        }
      }

      #passle-plugin-container {
        &.x2 {
          .passle-plugin-content {
            .passle-post-container {
              flex: 1 1 100%;
              max-width: 100%;
            }
          }
        }
      }
    }

    &.layout-offset {
      .thought-leadership-container {
        .passle-plugin-content {
          .passle-post-container {
            &:first-of-type, &:nth-of-type(3n+1), &:nth-of-type(3n) {
              margin-top: $spacing-vertical-xs;
              margin-bottom: $spacing-vertical-xs;
            }
          }
        }
      }
    }
  }
}
