.feed-instagram {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-md;

    h2 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: $font-size-h1;

      a {
        color: $text-color;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  .slick-track {
    &.active {
      .slick-slide.landscape {
        position: relative;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .feed-instagram {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    header {
      margin: 0 0 $spacing-vertical-sm;
    }
  }
}
