.image-content {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  .container {
    header {
      margin-bottom: $spacing-vertical-sm;

      h2 {
        margin: 0;
        padding: 0;
        font-style: italic;
      }
    }

    .body {
      margin: $spacing-vertical-sm 0 0;
      padding: 0;
    }

    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .image-content {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .container {
      img {
        margin-bottom: $spacing-vertical-sm;
      }

      .body {
        margin: $spacing-vertical-xs 0;
      }
    }
  }
}
