.quote-standalone {
  padding-top: $spacing-vertical-xl;
  padding-bottom: $spacing-vertical-xl;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  text-transform: uppercase;

  .row {
    display: flex;

    .visual {
      text-align: right;
      display: flex;

      .inner {
        @include diagonal-line;
        margin: auto 0 auto auto;
        padding: $spacing-vertical-sm;
        display: inline-block;

        img {
          max-width: 170px;
        }
      }
    }

    .content {
      margin: auto 0;
      padding-top: $spacing-vertical-xs;
      padding-bottom: $spacing-vertical-xs;
      text-align: center;

      blockquote {
        margin: 0 0 $spacing-vertical-xs;
        padding: 0;
        font-size: $font-size-h3;
        font-style: italic;
      }

      .quotee, .quotee-title {
        margin: 0;
        padding: 0;
        color: $gray-dark;
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .quote-standalone {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .row {
      display: block;

      .visual {
        .inner {
          margin: auto auto $spacing-vertical-xs;
        }
      }

      .content {
        margin-left: $spacing-horizontal-sm;
        padding-left: $spacing-horizontal-sm;

        blockquote {
          font-size: $font-size-h4;
        }
      }
    }
  }
}
