.quote-with-content {
  padding-top: $spacing-vertical-xl;
  padding-bottom: $spacing-vertical-xl;

  header {
    margin: 0 0 $spacing-vertical-sm;
    font-style: italic;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;

    .content {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
      width: 50%;

      header {
        h4 {
          margin: 0 0 $spacing-vertical-sm;
          padding: 0;
          font-size: $font-size-base;
          font-style: normal;
        }
      }
    }

    .quote-image {
      margin-top: $spacing-vertical-xxs;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
      width: 200px;

      img {
        max-width: 100%;
      }
    }

    .quote {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
      width: calc(50% - 200px);

      blockquote {
        margin: 0 0 $spacing-vertical-xs;
        padding: 0;
        font-size: 28px;
        font-style: italic;
      }

      .quotee, .quotee-title {
        margin: 0;
        padding: 0;
        color: $gray-dark;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: $headings-font-weight;
        font-fmaily: $headings-font-family;
        font-style: italic;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .quote-with-content {
    .inner {
      .content {
        width: calc(50% - (175px / 2));
      }

      .quote-image {
        width: 175px;
      }

      .quote {
        width: calc(50% - (175px / 2));
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .quote-with-content {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .inner {
      flex-wrap: wrap;

      .content {
        margin-bottom: $spacing-vertical-sm;
        width: 100%;
      }

      .quote-image {
        width: 175px;
      }

      .quote {
        width: calc(100% - 175px);
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .quote-with-content {
    .inner {
      .quote-image {
        margin-bottom: $spacing-vertical-sm;
        width: 100%;
      }

      .quote {
        width: 100%;
      }
    }
  }
}
