.showcase-expertise {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-sm;
    font-style: italic;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .content {
    margin: $spacing-vertical-md 0 0;

    .inner {
      display: flex;
      flex-wrap: wrap;

      > div {
        width: 33%;
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
        margin-bottom: $spacing-vertical-sm/3;

        a, span {
          display: block;
          font-family: $headings-font-family;
          font-weight: $headings-font-weight;
          font-size: $font-size-h4;
          text-transform: uppercase;
        }

        a {
          color: $gray-dark;

          &:hover {
            color: $link-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .showcase-expertise {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .content {
      margin-top: $spacing-vertical-md - $spacing-vertical-xs;

      .inner {
        flex-direction: column;

        > div {
          width: 100%;
          
          a, span {
            font-size: $font-size-base;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
