.showcase-casestudies {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-sm;

    h2 {
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }

  .casestudies {
    color: $text-color;

    .row {
      display: flex;
      flex-wrap: wrap;

      .case-study {
        margin: $spacing-vertical-xs auto;
        padding: 0 $spacing-horizontal-sm;
        display: flex;
        flex: 1 1 33.3%; // Safari throws a hissi-fit at anything more precise
        max-width: 33.3%;

        a {
          width: 100%;
          display: block;
          background-color: $gray-light;
          color: $gray-dark;
          position: relative;
          @include transition(color $transition-speed-base $transition-type-default,
                              background-color $transition-speed-base $transition-type-default);

          .slick-image {
            padding-bottom: 56%;
            @include grayscale(100);
            @include transition(filter $transition-speed-base $transition-type-default);
          }

          .information {
            margin: $spacing-vertical-xs $spacing-horizontal-sm 0;
            position: relative;
            text-transform: uppercase;

            > * {
              display: block;
            }

            .country, .company {
              font-family: $headings-font-family;
              font-weight: $headings-font-weight;
            }

            .country {
              color: $brand-primary;
              position: absolute;
              right: 0;
              top: 0;
            }

            .company {
              padding-right: 110px;
              color: $gray-dark;
            }
          }

          .content {
            margin: $spacing-vertical-sm + $spacing-vertical-xs $spacing-horizontal-sm;
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            font-size: $font-size-h4;
            text-transform: uppercase;
          }

          &:hover {
            color: $text-color;
            background-color: $gray-lighter;

            .slick-image {
              padding-bottom: 56%;
              @include grayscale(0);
            }
          }
        }
      }

      &.x2 {
        .case-study {
          flex: 1 1 49.9%;
          max-width: 49.9%;

          &:first-of-type {
            margin-left: 0;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      &.x1 {
        .case-study:first-of-type {
          margin-left: 0;
          margin-right: 0;
        }

        .case-study:last-of-type {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .showcase-casestudies {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .casestudies {
      .row {
        .case-study {
          flex: 1 1 100%;
          max-width: 100%;

          a {
            .slick-image {
              @include grayscale(0);
            }
          }
        }

        &.x2 .case-study {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }
  }
}
