.showcase-leadershipteam {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    margin: 0 0 $spacing-vertical-sm;

    h2 {
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }

  .inner {
    article {
      margin: 0 0 $spacing-vertical-sm + $spacing-vertical-xs;

      &:nth-of-type(2) {
        padding-top: $spacing-vertical-sm + $spacing-vertical-xs;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .visual {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
        }

        .overlay {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(255, 0, 149, 0.9);
          display: flex;
          flex-direction: column;
          text-transform: none;
          padding: $spacing-vertical-xs $spacing-horizontal-sm;
          color: #fff;
          @include transition(top $transition-speed-base $transition-type-default $transition-speed-slow);

          .content {
            margin: auto 0;
            @include opacity(0);
            @include transition(opacity $transition-speed-base $transition-type-default);

            &.has-social {
              // overflow-y: scroll;
              margin-bottom: 45px;
            }
          }

          .social {
            position: absolute;
            bottom: 7px;
            font-size: $font-size-h3;
            @include opacity(0);
            @include transition(opacity $transition-speed-base $transition-type-default);

            a {
              padding-right: $spacing-horizontal-sm;
              color: #fff;

              &:hover {
                color: rgba(255, 255, 255, 0.9);
              }
            }
          }
        }
      }

      .name {
        margin: 0;
        padding: 0;
        font-weight: $headings-font-weight;
        font-family: $headings-font-family;
        text-transform: uppercase;
      }

      .position {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }

      &.active {
        .visual {
          .overlay {
            top: 0;
            @include transition(top $transition-speed-base $transition-type-default);

            .content, .social {
              @include opacity(1);
              @include transition(opacity $transition-speed-base $transition-type-default $transition-speed-slow);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .showcase-leadershipteam {
    .inner {
      article {
        width: 403px; // 3 columns
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .showcase-leadershipteam {
    .inner {
      article {
        width: 360px; // 3 columns
      }
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  .showcase-leadershipteam {
    .inner {
      article {
        &:nth-of-type(2) {
          padding-top: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .showcase-leadershipteam {
    .inner {
      article {
        width: 455px; // 2 columns
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .showcase-leadershipteam {
    .inner {
      article {
        width: 345px; // 2 columns
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .showcase-leadershipteam {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .showcase-leadershipteam {
    .inner {
      article {
        width: 100%; // 1 column

      }
    }
  }
}
