@import "~slick-carousel/slick/slick.scss";

.showcase-brands {
  padding: 240px 0;
  min-height: 100vh;
  text-align: center;
  font-weight: $headings-font-weight;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;

  .carousel-container {
    margin: 0 auto;
    max-width: 820px;

    .carousel-item {
      padding-bottom: $spacing-vertical-lg + $spacing-vertical-xs;

      .title {
        font-size: $font-size-h4;
        color: $gray-dark;
      }

      .body {
        margin: $spacing-vertical-sm * 1.5 0 0;
        font-size: $font-size-h3;
        font-style: italic;
      }
    }

    .btn-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;

      .btn {
        margin-top: $spacing-vertical-sm/4;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .showcase-brands {
    .carousel-container {
      .carousel-item {
        padding-bottom: $spacing-vertical-lg;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .showcase-brands {
    padding: $spacing-vertical-lg 0;
    min-height: 100vh;
    display: flex;

    .container {
      margin: auto;
      width: 100%;
    }

    .carousel-container {
      width: 100%;

      .carousel-item {
        padding-bottom: 75px;

        .title {
          font-size: $font-size-base;
        }

        .body {
          margin-top: $spacing-vertical-sm;
          margin-bottom: 0;
          font-size: $font-size-h4;
        }
      }
    }
  }
}
