.video-quote {
  > .container > header {
    margin: 0 0 $spacing-vertical-md - $spacing-vertical-xs;

    .title {
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }

  .inner {
    min-height: 100vh;
    display: flex;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    text-transform: uppercase;

    > div {
      flex: 1 1 100%;

      &.content {
        display: flex;

        > .row {
          display: flex;
          margin: 0 0 0 auto;
          padding: $spacing-vertical-lg 0;
          width: 100%;

          > div {
            margin: auto 0;
          }

          .title {
            margin: 0;
            padding: 0;
            font-size: $font-size-h1;
            font-style: italic;
          }

          .quote {
            margin: $spacing-vertical-lg 0 $spacing-vertical-md;
            padding: 0;
            border: none;
            font-size: $font-size-h3;
          }

          .quotee {
            display: block;
            font-size: $font-size-h4;
            color: $gray-dark;
          }

          .quotee-title {
            display: block;
            font-size: $font-size-h4;
            font-style: italic;
            color: $gray-dark;
          }
        }
      }

      &.visual {
        background-color: $gray-light;
        background-size: cover;
        background-position: center center;
        position: relative;

        .play {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url('./../../static/img/icon-play.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 130px;
          background-color: rgba(0,0,0,0);
          display: block;
          cursor: pointer;
          @include transition(background-color $transition-speed-base $transition-type-default);

          &:hover {
            background-color: rgba(0,0,0,0.25);
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .video-quote .inner > div.content .row {
    width: $container-xl / 2;
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .video-quote .inner > div.content .row {
    width: $container-lg / 2;
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .video-quote .inner > div.content .row {
    width: $container-md / 2;
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .video-quote .inner {
    > div {
      &.content {
        .row {
          width: $container-sm;
        }
      }

      &.visual {
        padding-bottom: 403px;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .video-quote {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .inner {
      flex-direction: column-reverse;
      display: flex;
      min-height: 0;

      > div {
        &.content {
          display: block;
          
          .row {
            margin: 0 auto;
            padding: 0;

            .quote {
              margin: $spacing-vertical-md 0 $spacing-vertical-md - $spacing-vertical-xs;
            }
          }
        }

        &.visual {
          margin: 0 auto;
          width: $container-tablet - $grid-gutter-width;
          padding-bottom: 56%;

          .play {
            background-size: 80px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .video-quote .inner {
    > div {
      &.content {
        .row {
          width: 100%;

          .title {
            font-size: $font-size-h3;
          }

          .quote {
            margin: $spacing-vertical-sm 0;
            font-size: $font-size-h4;
          }

          .quote {
            font-size: $font-size-h4;
          }

          .quotee, .quotee-title {
            font-size: $font-size-base;
          }
        }
      }

      &.visual {
        width: calc(100% - #{$grid-gutter-width});
        padding-bottom: calc(100% - #{$grid-gutter-width});
      }
    }
  }
}
