.video-carousel {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  > .container > header {
    margin: 0 0 $spacing-vertical-md - $spacing-vertical-xs;

    .title {
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }

  .inner {
    display: flex;

    > div {
      &.visual-container {
        width: 55%;

        .visual {
          padding-bottom: 56%;
          background-color: $gray-light;
          background-size: cover;
          background-position: center center;
          position: relative;

          .play {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('./../../static/img/icon-play.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 130px;
            background-color: rgba(0,0,0,0);
            display: block;
            cursor: pointer;
            @include transition(background-color $transition-speed-base $transition-type-default);

            &:hover {
              background-color: rgba(0,0,0,0.25);
            }
          }
        }
      }

      &.content-container {
        margin: auto 0;
        padding: 0 0 0 $spacing-horizontal-xl;
        width: 45%;

        .vertical-carousel {
          height: 100%;

          .slick-slider {
            padding-right: $spacing-horizontal-lg;
            position: relative;
            display: flex;
            height: 100%;

            .slick-list {
              margin: auto 0;
              padding-right: $spacing-horizontal-md;

              .carousel-item {
                .title {
                  margin-bottom: $spacing-vertical-sm;
                  font-family: $headings-font-family;
                  font-weight: $headings-font-weight;
                  text-transform: uppercase;
                }
              }
            }

            ul.slick-dots {
              margin: auto 0;
              padding: 0 0 $spacing-vertical-xs;
              list-style: none;

              li {
                margin: $spacing-vertical-sm 0;

                button {
                  padding: 0;
                  width: 15px;
                  height: 15px;
                  background: $gray;
                  border: 2px solid $gray;
                  text-indent: -1000px;
                  border-radius: 7.5px;
                  overflow: hidden;
                  @include transition(background $transition-speed-base $transition-type-default);
                }

                &.slick-active, &:hover {
                  button {
                    background: #fff;
                  }
                }
              }
            }
          }
        }

        &.slides-1 {
          .vertical-carousel {
            .slick-slider {
              padding-right: 0;

              .slick-list {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .video-carousel {
    .inner {
      > div {
        &.visual-container {
          width: 50%;
        }

        &.content-container {
          padding-left: $spacing-horizontal-lg;
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .video-carousel {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    .inner {
      flex-direction: column;

      > div {
        &.visual-container {
          width: 100%;
        }

        &.content-container {
          margin: $spacing-vertical-sm 0 0;
          padding: 0;
          width: 100%;

          .vertical-carousel {
            .slick-slider {
              padding: 0;
              flex-direction: column;

              .slick-list {
                margin: 0;
                padding: 0;

                .carousel-item {
                  .title {
                    margin-bottom: $spacing-vertical-xs;
                  }
                }
              }

              ul.slick-dots {
                margin: $spacing-vertical-sm 0 0;
                padding: 0;
                height: 15px;
                text-align: center;

                li {
                  margin: 0 $spacing-horizontal-sm;
                  padding: 0;
                  height: 15px;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
