<template>
<div class="awards">
  <div class="inner">
    <div class="award" v-for="(url, index) in awards"
      :class="{ active:index === activeIndex, replace:index === replaceIndex }"
      :style="{ 'background-image': 'url(' + url + ')'}">
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash'
import jQuery from 'jquery'

export default {
  name: 'awards',
  props: {
    items: {
      type: Array,
      required: true,
      validator: function (value) {
        return value.length >= 5
      }
    }
  },
  data () {
    return {
      awards: [],
      awardIndex: -1,
      itemIndex: 4,
      replaceIndex: -1,
      activeIndex: -1
    }
  },
  mounted () {
    this.awards = _.slice(this.items, 0, 5)
    this.preloadImages()
  },
  methods: {
    changeSlide () {
      this.setValidSlideIndexes()
      this.replaceIndex = this.awardIndex

      // Allow for animation to complete
      setTimeout(function () {
        this.awards = this.getNewAwards()
      }.bind(this), 150)

      setTimeout(function () {
        this.replaceIndex = -1
        this.activeIndex = this.awardIndex
      }.bind(this), 500)

      setTimeout(function () {
        this.activeIndex = -1
        this.changeSlide()
      }.bind(this), 3000)
    },
    getNewAwards () {
      var newAwards = []

      // Larger screens have 5 items
      if (jQuery(window).width() > 991) {
        if (this.awards.length === 4) {
          this.awards.push(this.items[this.items.length - 1])
        }

        newAwards = _.slice(this.awards, 0, 5)
        newAwards[this.awardIndex] = this.items[this.itemIndex]

      // Small screens only have 4 items
      } else {
        newAwards = _.slice(this.awards, 0, 4)

        if (_.isUndefined(newAwards[this.awardIndex])) {
          newAwards[0] = this.items[this.itemIndex]
        } else {
          newAwards[this.awardIndex] = this.items[this.itemIndex]
        }
      }

      return newAwards
    },
    preloadImages () {
      _.each(this.items, function (item, index) {
        var image = new Image()
        image.src = item

        if (index === this.items.length - 1) {
          image.onload = function () {
            this.changeSlide()
          }.bind(this)
        }
      }.bind(this))
    },
    setValidSlideIndexes () {
      if (_.isUndefined(this.awards[this.awardIndex + 1])) {
        this.awardIndex = 0
      } else {
        this.awardIndex += 1
      }

      if (_.isUndefined(this.items[this.itemIndex + 1])) {
        this.itemIndex = 0
      } else {
        this.itemIndex += 1
      }
    }
  }
}
</script>
