<template>
<div class="brands-animated-background" :id="uniqueID"></div>
</template>

<script>
export default {
  name: 'brands-animated-background',
  props: {
    imageUrl: {
      type: String,
      required: true
    }
  },
  mounted () {
    this.animateBackground()
  },
  methods: {
    animateBackground () {
      let selector = '#' + this.uniqueID + ':before, #' + this.uniqueID + ':after'
      let styles = '{ background-image: url(' + this.imageUrl + ') }'
      let css = selector + styles
      let head = document.head || document.getElementsByTagName('head')[0]
      let style = document.createElement('style')

      style.type = 'text/css'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
    }
  },
  data () {
    return {}
  },
  computed: {
    uniqueID () {
      return 'brands-animated-background-' + this._uid
    }
  }
}
</script>
