<template>
<section class="showcase-brands"
  :id="uniqueID">
  <brands-animated-background
    :image-url="imageUrl">
  </brands-animated-background>
  <div class="container">
    <div class="carousel-container">
      <slick ref="slick"
        :options="options">
        <div class="carousel-item" v-for="(item, index) in items">
          <div class="title">
            {{ item.title }}
          </div>
          <div class="body">
            {{ item.body }}
          </div>
          <div class="btn-container">
            <a :href="item.url" class="btn btn-primary">
              {{ readMore }}
            </a>
          </div>
        </div>
      </slick>
    </div>
  </div>
</section>
</template>

<script>
import _ from 'lodash'
import jQuery from 'jquery'
import Slick from 'vue-slick'

export default {
  name: 'brands-carousel',
  components: {
    Slick
  },
  props: {
    imageUrl: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    readMore: {
      type: String,
      required: true
    }
  },
  mounted () {
    this.forceSlideHeight()
  },
  methods: {
    forceSlideHeight () {
      var height = 0

      jQuery('#' + this.uniqueID + ' .slick-track > div').each(function () {
        var slideHeight = jQuery(this).outerHeight()

        if (slideHeight > height) {
          height = slideHeight
        }
      })

      jQuery('#' + this.uniqueID + ' .slick-track > div').css({
        height: height
      })
    }
  },
  data () {
    return {
      options: {
        arrows: false,
        autoplay: true,
        infinite: true,
        fade: true,
        slidesToShow: 1,
        autoplaySpeed: 5000
      }
    }
  },
  computed: {
    showButton () {
      return !_.isEmpty(this.buttonLabel) && !_.isEmpty(this.buttonUrl)
    },
    uniqueID () {
      return 'brands-carousel-' + this._uid
    }
  }
}
</script>
