<template>
<div class="instagram-feed"
  :id="uniqueID">
  <slick ref="slick"
    :options="options">
    <div class="instagram-item" v-for="(item, index) in items">
      <a :href="item.url" target="_blank">
        <img :src="item.imageUrl">
      </a>
    </div>
  </slick>
</div>
</template>

<script>
import Slick from 'vue-slick'

export default {
  name: 'instagram-feed',
  components: {
    Slick
  },
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      options: {
        arrows: false,
        autoplay: true,
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        speed: 750,
        dots: false,
        pauseOnHover: false,
        pauseOnFocus: false,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              speed: 750,
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              speed: 750,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      }
    }
  },
  computed: {
    uniqueID () {
      return 'instagram-feed-' + this._uid
    }
  }
}
</script>
