<template>
<div class="slick-image visual" :id="id" :class="classes">
  <span class="visual-preload" :class="{ gradient: gradient }"
    :style="{ 'background-image': 'url(' + current + ')'}">
  </span>
  <slot></slot>
</div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'slick-image',
  props: {
    initial: {
      type: String,
      required: true,
      default: ''
    },
    full: {
      type: String,
      required: true,
      default: ''
    },
    gradient: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  mounted () {
    this.id = 'slick-image-' + this._uid
    this.current = this.initial
    setTimeout(this.preloadImage, 100)
  },
  data () {
    return {
      current: null,
      id: -1
    }
  },
  methods: {
    preloadImage () {
      var image = new Image()

      image.src = this.full

      image.onload = function () {
        this.current = this.full
      }.bind(this)
    }
  },
  computed: {
    classes () {
      return {
        'has-image': !_.isEmpty(this.current)
      }
    }
  }
}
</script>
