<template>
<section class="vertical-carousel"
  :id="uniqueID">
  <slick ref="slick"
    :options="options">
    <div class="carousel-item" v-for="(item, index) in items">
      <div v-if="hasValidTitle(item.title)" class="title">
        {{ item.title }}
      </div>
      <div class="body">
        {{ item.body }}
      </div>
    </div>
  </slick>
</section>
</template>

<script>
import Slick from 'vue-slick'

export default {
  name: 'vertical-carousel',
  components: {
    Slick
  },
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  mounted () {
    if (this.items.length === 1) {
      this.options.dots = false
      this.$refs.slick.reSlick()
    }
  },
  data () {
    return {
      options: {
        arrows: false,
        autoplay: false,
        infinite: true,
        fade: true,
        slidesToShow: 1,
        dots: true
      }
    }
  },
  methods: {
    hasValidTitle (string) {
      return string.length > 0
    }
  },
  computed: {
    uniqueID () {
      return 'vertical-carousel-' + this._uid
    }
  }
}
</script>
