<template>
<div class="video-fullscreen" :class="{ active:isActive }">
  <div class="inner">
    <a href="#" class="close fa fa-times" @click.prevent="close"></a>
    <iframe :src="videoUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</template>

<script>
export default {
  name: 'video-fullscreen',
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      isActive: false
    }
  },
  mounted () {
    setTimeout(function () {
      this.isActive = true
    }.bind(this), 50)
  },
  methods: {
    close () {
      this.isActive = false

      // Allow for a 0.15s fade-out animation
      setTimeout(function () {
        window.EventBus.$emit('closeVideoFullscreen')
      }, 150)
    }
  },
  computed: {
    videoUrl () {
      return this.url + '?rel=0&amp;showinfo=0&autoplay=1'
    }
  }
}
</script>
