body {
  background: $body-bg;
  padding-top: $navbar-height;
  color: $text-color;

  .style-white {
    background-color: #fff;
    color: inherit;
  }

  .style-light {
    background-color: $gray-lighter;
    color: inherit;
  }

  .style-gray {
    background-color: $gray-light;
    color: inherit;

    header {
      color: $text-color;
    }
  }

  .style-inverse {
    background-color: $gray-base;
    color: #fff;
  }

  .style-white + .style-white,
  .style-light + .style-light,
  .style-gray + .style-gray {
    padding-top: 0;
  }

  #app {
    overflow-x: hidden;

    #content {
      @include opacity(0);
    }

    &.content-width-small {
      section.intro, section.pardot-form {
        .container {
          max-width: $container-tablet;
        }
      }

      #content {
        > .container {
          > article.page {
            margin-left: auto;
            margin-right: auto;
            max-width: $container-tablet - $grid-gutter-width;
          }
        }
      }
    }

    &.content-width-medium {
      section.intro, section.pardot-form {
        .container {
          max-width: $container-desktop;
        }
      }

      #content {
        > .container {
          > article.page {
            margin-left: auto;
            margin-right: auto;
            max-width: $container-desktop - $grid-gutter-width;
          }
        }
      }
    }
  }

  &:not(.page-template-template-work) {
    #content {
      > *:not(.page-header) {
        @include opacity(0);
        @include transition(opacity $transition-speed-base $transition-type-default $transition-speed-slow);
      }
    }

    &.mounted {
      #app {
        #content {
          > *:not(.page-header) {
            @include opacity(1);
          }
        }
      }
    }
  }

  &.mounted {
    #app{
      #content {
        @include opacity(1);
      }
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .container {
    width: $container-xl;
  }
}
