h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  font-style: italic;
}

.highlight {
  color: $brand-primary;
}

a {
  @include transition(color $transition-speed-base $transition-type-default);
}

blockquote {
  font-size: $font-size-h3;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  border: none;
}

@media screen and (max-width: $screen-xs-max) {
  h1 {
    word-break: break-word;
  }
}

@media screen and (max-width: $screen-xs-min) {
  h1, h2 {
    font-size: $font-size-h3;
  }

  h3 {
    font-size: $font-size-h3 * 0.8;
    line-height: $font-size-h3;
  }

  h4 {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  blockquote {
    font-size: $font-size-h4;
  }
}
