.showcase-awards {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg;

  header {
    h2 {
      margin: 0;
      padding: 0;
      font-style: italic;
    }
  }

  .awards {
    margin-top: $spacing-vertical-sm;

    .inner {
      display: flex;
      justify-content: space-between;

      .award {
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .showcase-awards {
    .awards {
      .inner {
        .award {
          width: 125px;
          height: 125px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .showcase-awards {
    .awards {
      .inner {
        .award {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .showcase-awards {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md - $spacing-vertical-xs;

    .awards {
      .inner {
        .award {
          &:nth-of-type(odd) {
            background-position: left center;
          }

          &:nth-of-type(even) {
            background-position: right center;
          }

          &:last-of-type {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .showcase-awards {
    .awards {
      .inner {
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
        flex-wrap: wrap;

        .award {
          margin: 0 $grid-gutter-width/2 $spacing-vertical-sm;
          width: calc(50% - #{$grid-gutter-width});
          height: 100px;
        }
      }
    }
  }
}
