.brands-animated-background {
  margin: 0;
  width: 3280px;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: animate-background 180s infinite linear;
    background-color: $gray-lighter;
  }

  &:before {
    right: 100%;
  }

  &:after {
    right: 0;
  }
}

/**
 * https://stackoverflow.com/questions/30730650/css-way-of-looping-
 * a-background-image-with-cover-or-contain-sizing
 */
@keyframes animate-background {
    from {transform: translateX(0%);}
      to {transform: translateX(100%);}
}

@-webkit-keyframes animate-background {
    from {transform: translateX(0%);}
      to {transform: translateX(100%);}
}
