.country-locations {
  padding-top: $spacing-vertical-lg;
  padding-bottom: $spacing-vertical-lg - $spacing-vertical-sm;
  background-color: $gray-dark;
  color: #fff;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.countries {
  margin: $spacing-vertical-md - $spacing-vertical-xs 0 0;

  .inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 130px;

    .country {
      margin: 0 0 $spacing-vertical-sm;
    }

    a {
      display: block;
      color: #fff;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      font-size: $font-size-h4;
      text-transform: uppercase;
      text-align: left;

      &:hover {
        color: $link-color;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .countries {
    .inner {
      height: 260px;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .country-locations {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md - $spacing-vertical-xs;

    h3 {
      em {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .countries {
    .inner {
      height: 260px;

      a {
        font-size: $font-size-base;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  .countries {
    .inner {
      height: auto;
      flex-direction: row;

      .country {
        margin-bottom: $spacing-vertical-xs;
        width: 100%;
      }

      a {
        font-size: $font-size-small;
        white-space: nowrap;
      }
    }
  }
}
