.instagram-feed {
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;

  .instagram-item {
    margin: 0;
    padding: 0 $grid-gutter-width/2;
    display: block;
    position: relative;

    a {
      img {
        margin: auto;
        max-width: 100%;
        @include grayscale(100);
        @include transition(filter $transition-speed-base $transition-type-default);
      }

      &:hover {
        img {
          @include grayscale(0);
        }
      }
    }
  }
}
