.slick-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;

  .visual-preload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $gray-lighter;
    @include transition(all 0.2s $transition-type-default);

    &.gradient {
      &:before {
        content: '';
      	position: absolute;
      	top: 0;
      	right: 0;
      	bottom: 0;
      	left: 0;
        @include gradient-horizontal($gray-base, transparent);
        @include opacity(0.8);
      }
    }
  }
}
