.slick-slider {
  .slick-slide {
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .slick-dots {
    button {
      outline: none;

      &:focus {
        outline: none;
      }
    }
  }
}
