.twitter-feed {
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;

  > div {
    margin: 0;
    padding: 0 $grid-gutter-width/2;
    display: block;
    position: relative;

    > .twitter-tweet {
      width: 100% !important;
      min-width: 0 !important;
    }
  }
}
