.video-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $gray-base;
  display: flex;
  z-index: $zindex-modal-background;
  @include opacity(0);
  @include transition(opacity $transition-speed-base $transition-type-default);

  &.active {
    @include opacity(1);
  }

  .inner {
    margin: $spacing-vertical-sm $spacing-horizontal-md $spacing-vertical-sm*1.2;
    width: 100%;
    position: relative;

    .close {
      padding: $spacing-vertical-xs $spacing-horizontal-sm;
      position: absolute;
      z-index: $zindex-modal;
      top: 0;
      right: 0;
      color: $gray;
      cursor: pointer;
      text-shadow: none;
      background: transparent;
      @include opacity(1);
      @include transition(color $transition-speed-base $transition-type-default,
                          background $transition-speed-base $transition-type-default);

      &:hover {
        color: #fff;
        background: $gray-base;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      background: $gray-base;
    }
  }
}
