/**
 * https://codepen.io/allicarn/pen/BWLwVa
 */
@mixin diagonal-line($line-color: $brand-primary, $line-width: 2px, $line-blur: 0.25px) {
  $color-start: calc(50% - #{$line-width / 2 + $line-blur});
  $full-color-start: calc(50% - #{$line-width / 2});
  $full-color-end: calc(50% + #{$line-width / 2});
  $color-end: calc(50% + #{$line-width / 2 + $line-blur});

  @if($line-blur == 0 or $line-blur == 0px) {
    $color-start: 50%;
  }

  background-image: linear-gradient(to top left,
    transparent $color-start,
    $line-color $full-color-start,
    $line-color $full-color-end,
    transparent $color-end);
}
